.fridge {
    background-color: #f4f5fa;
    border: 7px solid darkslateblue;
    border-radius: 30px;
    padding: 5px;
    hr {
          border: 4px solid darkslateblue;
    border-radius: 30px;
    width: 90%;
    margin: auto;
    }
    .freezer {
      margin-left: 10%;
      background-color: white;
    }
    .refrigerator {
      margin-left: 10%;
      background-color: white;
    }
}